{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>{{title}}</title>


  <!-- bootstrap file -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- main css -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static "index.css" %}" /> -->
  <link rel="stylesheet" href="{% static 'sys_RegLog/style1.css' %}">
  <link rel="stylesheet" href="{% static 'sys_RegLog/style2.css' %}">

  <!-- message here -->

  {% if messages %}
  {% for message in messages %}

  <script>
    alert("{{ message }}");
  </script>

  {% endfor %}
  {% endif %}

  <!--_______________________________________________-->



</head>

<body>

<!-- {% block start %} -->
<ul class="topnav">
  <li id="header_text"><span style="color: aqua;">C</span><span style="color: #2bff88;">a</span><span style="color: #ffae00;">r</span><span style="color:coral">l</span><span style="color: #fa8bff;">o</span><span style="color: navajowhite;">r</span><span style="color:#fff">theLife</span></li>
  
  {% if user.is_authenticated %}
  <li class="right"><a href="{% url "sys_RegLog:logout" %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
  <li class="right"><a href="{% url "sys_RegLog:reset_pwd" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Change Password</a></li>
  {% else %}
  <li class="right"><a href="{% url "sys_RegLog:register" %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
  <li class="right"><a class="active" href="{% url "sys_RegLog:login" %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
  {% endif %}
  <li class="right"><a href="{% url "sys_RegLog:index" %}">Home</a></li>
</ul>
   <section>
    <form action="" method="post">
      {% csrf_token %}
        <p style="font-size: 20px;"><span style="color: aqua;">C</span><span style="color: #2bff88;">a</span><span style="color: #ffae00;">r</span><span style="color:rgb(160, 0, 240)">l</span><span style="color: #fcc7ff;">o</span><span style="color: navajowhite;">r</span><span style="color:#fff">theLife</span> Login</p>
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">login</button>
        <sub style="text-align: left;"><a href="{% url 'sys_RegLog:register' %}" style="text-decoration: none; color: #fff; cursor:pointer;">Don't have account,sign up</a></br>
        <a href="{% url 'sys_RegLog:forget_pwd' %}" style="text-decoration: none; color: #fff; cursor:pointer;">Forget Password</a></sub>     
    </form>
</section>
<!-- {% endblock start %} -->
</body>